# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/
.pytest_cache/

# Environments
.venv/
env/
venv/
*.env
.python-version

# Data files
*.csv
*.tsv
*.xls
*.xlsx
*.parquet
*.h5
*.sqlite3
*.db

# Ignore everything in tests/
tests/**

# But keep specific subfolders
!tests/data/
!tests/notebooks/

# And specific files
!tests/test_config_file.py
!tests/test_parse_data.py
!tests/test_config.py
!tests/test_bootstrap.py

# Ignore everything inside those subfolders...
tests/data/**
tests/notebooks/**

# ...except the allowed files
!tests/data/testdata.csv
!tests/notebooks/test_setup.ipynb

# Jupyter
.ipynb_checkpoints/

# Ignore all files in data/
data/**
!data/.gitkeep

# Ignore all files in output/
output/**
!output/.gitkeep

# Ignore all files in notebooks/
notebooks/**
!notebooks/.gitkeep

# Ignore all files in src/
src/**
!src/.gitkeep

# Logs
*.log

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# uv-lock file
uv.lock